@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url(img/pokemon-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  backdrop-filter: blur(5px);
}

a.navbar-brand {
  border-right: 1px solid white;
  padding-right: 20px;
}

.pokemons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  margin: 20px;
  padding: 20px;
  min-width: 300px;
  min-height: 180px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 2px 10px 2px blanchedalmond;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.pokemons:hover{
  transform:scale(1.05);
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  cursor: pointer;
}

.tabla{
  background-color: white;
  margin-top: 30px !important;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
}

.title-tabla{
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-info{
  text-decoration: none;
  background-color: brown;
  border: 1px solid brown;
  padding: 9px 25px;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.btn-info:hover{
  background-color: white;
  color: brown;
  border: 1px solid brown;
}

.btn-live{
  transition: 0.5s ease !important;
  -webkit-transition: 0.5s ease !important;
  -moz-transition: 0.5s ease !important;
  -ms-transition: 0.5s ease !important;
  -o-transition: 0.5s ease !important;
}

.btn-live:hover{
  background-color: white !important;
  color: #0d6efd !important;
  border-color: 1px solid #0d6efd !important;
}

.img-poke{
  text-align: center;
}

@media (max-width:1024px) {
  a.nav-link{
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 10px;
    margin: 20px 0 0 0;
  }
  
  a.nav-link:hover {
    background: white;
    color: black;
  }
}